<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-deremmanuel/blob/main/IBM%20Python%20Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## **Curso IBM "Python for Data Science"**

## **Módulo 1 - Python Basics **

In [3]:
print('Hello Python') #print function

Hello Python

In [7]:
print("Hello\nWorld")

Hello
World

In [9]:
# print("Hello\nWorld")

In [11]:
int(False)

0

In [12]:
int(True)

1

In [13]:
bool(0)

False

In [14]:
bool(1)

True

In [15]:
1+5

6

In [16]:
2/5

0.4

In [17]:
2//5

0

In [18]:
3//5

0

In [19]:
3//2

1

In [20]:
import sys

In [21]:
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [22]:
type(12.0)

float

In [23]:
type(1)

int

In [24]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [26]:
float(1)

1.0

In [27]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [30]:
g.find('snow')

95

In [31]:
e = 'clocrkr1e1c1t'

In [32]:
e[::2]

'correct'

In [33]:
f = "You are wrong"

In [34]:
f.upper()

'YOU ARE WRONG'

In [35]:
a = "Michael Jackson is the best"

In [36]:
b = a.replace('Michael', 'Janet')

In [37]:
b

'Janet Jackson is the best'

In [38]:
name = 'Lizz'

In [39]:
print(name[0:2])

Li

Módulo 2 - Python Data Structures

Tuples

In [1]:
A = (0,1,2,3)

In [3]:
A[0:2]

(0, 1)

In [4]:
B=["a","b","c"]

In [7]:
B[0] = "A"

In [8]:
B

['A', 'b', 'c']

In [9]:
B[0:2]

['A', 'b']

In [10]:
tuple1 = ("disco",10,1.2 )

In [11]:
type(tuple1)

tuple

In [12]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [13]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
tuple1[-1]

1.2

In [15]:
tuple1[-2]

10

In [16]:
tuple1[-3]

'disco'

In [18]:
tuple2 = tuple1 + ("hard rock", 10)

In [19]:
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [20]:
tuple2[0:3]

('disco', 10, 1.2)

In [21]:
tuple2[3:5]

('hard rock', 10)

In [22]:
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [23]:
len(tuple2)

5

In [24]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [26]:
sorted(Ratings)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [27]:
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [29]:
Sorted_Ratings = sorted(Ratings)

In [30]:
Sorted_Ratings

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [31]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [36]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [37]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [39]:
print(NestedT[0],NestedT[1],NestedT[2])

1 2 ('pop', 'rock')

In [40]:
NestedT[4][1][0]

1

In [41]:
NestedT[4][1][1]

2

In [42]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

In [43]:
len(genres_tuple)

8

In [44]:
genres_tuple[3]

'hard rock'

In [45]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [46]:
genres_tuple[0:2]

('pop', 'rock')

In [47]:
genres_tuple[7][0]

'd'

In [48]:
genres_tuple.index("disco")

7

In [50]:
genres_tuple.index('pop')

0

In [51]:
C_tuple=(-5, 1, -3)

In [53]:
sorted(C_tuple)

[-5, -3, 1]

In [54]:
C_List = sorted(C_tuple)

In [55]:
C_List

[-5, -3, 1]

## **Lists**

In [58]:
a_list =[1, 'hello', [1,2,3], True]

In [59]:
a_list

[1, 'hello', [1, 2, 3], True]

In [60]:
a_list[1]

'hello'

In [61]:
a_list[1:4]

['hello', [1, 2, 3], True]

In [62]:
A = [1, 'a']

In [63]:
B = [2, 1, 'd']

In [64]:
A+B

[1, 'a', 2, 1, 'd']

In [65]:
A

[1, 'a']

In [66]:
C = A+B

In [67]:
C

[1, 'a', 2, 1, 'd']

In [88]:
L = ["Michael Jackson", 10.1, 1982]

In [89]:
L.extend((1,True))

In [90]:
L

['Michael Jackson', 10.1, 1982, 1, True]

In [73]:
L[3:5]

[1, True]

In [92]:
L.append(['pop', 10])

In [93]:
L

['Michael Jackson', 10.1, 1982, 1, True, ['pop', 10]]

In [94]:
L[0]='Janet Jackson'

In [85]:
L

[10.1, 1982, 1, True, 'pop', 10, ['pop', 10]]

In [95]:
del(L[2])

In [96]:
L

['Janet Jackson', 10.1, 1, True, ['pop', 10]]

In [97]:
L[0].split()

['Janet', 'Jackson']

In [98]:
L

['Janet Jackson', 10.1, 1, True, ['pop', 10]]

In [99]:
L[0]= L[0].split()

In [100]:
L

[['Janet', 'Jackson'], 10.1, 1, True, ['pop', 10]]

In [101]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [102]:
A[:]

['hard rock', 10, 1.2]

In [103]:
B

['hard rock', 10, 1.2]

In [104]:
A

['hard rock', 10, 1.2]

In [105]:
A[0]= True

In [106]:
A

[True, 10, 1.2]

In [107]:
B

[True, 10, 1.2]

In [108]:
B = A[:]

In [109]:
A

[True, 10, 1.2]

In [110]:
B

[True, 10, 1.2]

In [111]:
B[0]=1

In [112]:
B

[1, 10, 1.2]

In [113]:
A

[True, 10, 1.2]

## **Sets**

In [114]:
S={'A','B','C'}   #Crear primer set

In [115]:
U={'A','Z','C'}   #Crear segundo set

In [116]:
U.union(S)    #Unir dos sets

{'A', 'B', 'C', 'Z'}

In [117]:
New_Set = S & U   #Intersección de dos sets

In [118]:
New_Set

{'A', 'C'}

In [119]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}

In [120]:
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [122]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

In [123]:
set(album_list)

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [124]:
album_list

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

In [125]:
album_set = set(album_list) #Convertir lista a set

In [126]:
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [128]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [129]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [130]:
# Add element to set

A.add("NSYNC") 
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [131]:
# Try to add duplicate element to the set

A.add("NSYNC")    # el set no se cambiará al agregar un duplicado
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [132]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [133]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [134]:
# Print two sets

album_set1, album_set2  #la separación es con una coma

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [136]:
# Find the intersections

intersection = album_set1 & album_set2  # estos valores están en ambos sets
intersection

{'AC/DC', 'Back in Black'}

In [137]:
# Find the difference from set1 to set2

album_set1.difference(album_set2)

{'Thriller'}

In [138]:
# Find the difference from set2 to set1

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [139]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [140]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [142]:
album_set3 = album_set1.union(album_set2)   #Unir sets album_set1 y album_set2
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [143]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [144]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [147]:
# Check if subset with opposite albums

set(album_set1).issubset(album_set2)

False

In [145]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [146]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [151]:
set(album_set1).issubset(album_set3) #verificar si el album_set1 es un subset de la unión de los dos sets

True

In [152]:
set(album_set3).issubset(album_set2)  #verificar si la unión de los dos sets es un subset de sl album_set2

False

In [153]:
album_set3.issubset(album_set2) #igual pero quitando "set" antes de album_set3

False

In [154]:
album_set1.issubset(album_set3) #igual pero quitando "set" antes de album_set1

True

In [156]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:

list_test = ['rap','house','electronic music', 'rap']

In [157]:
list_test

['rap', 'house', 'electronic music', 'rap']

In [158]:
genre_set = set(list_test)

In [159]:
genre_set

{'electronic music', 'house', 'rap'}

In [160]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

In [161]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

In [164]:
sum(A)

6

In [165]:
sum(B)

3

In [166]:
sum(A)==sum(B)

False

In [167]:
B

{1, 2}

In [168]:
#Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set3 = album_set1.union(album_set2)   #Unir sets album_set1 y album_set2
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [169]:
#Find out if album_set1 is a subset of album_set3

set(album_set1).issubset(album_set3) #verificar si el album_set1 es un subset de la unión de los dos sets

True

## **Dictionaries in Python**

In [170]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [171]:
# Access to the value by the key

Dict["key1"]

1

In [172]:
# Access to the value by the key

Dict[(0, 1)]

6

In [173]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [174]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [175]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [176]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [177]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [178]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [179]:
# Delete entries by key

del(release_year_dict['Thriller'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [180]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [182]:
# Verify the key 'Thriller' is in the dictionary

'Thriller' in release_year_dict

False

In [184]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary soundtrack_dic what are the keys ?

In [185]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

b) In the dictionary soundtrack_dic what are the values ?

In [186]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

In [187]:
album_sales_dict = {'Back in Black':50, 'The Bodyguard':50,'Thriller':65 }

In [188]:
type(album_sales_dict)

dict

b) Use the dictionary to find the total sales of Thriller:

In [195]:
album_sales_dict['Thriller']

65

c) Find the names of the albums from the dictionary using the method keys():

In [198]:
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

d) Find the values of the recording sales from the dictionary using the method values:

In [199]:
album_sales_dict.values()

dict_values([50, 50, 65])

## **Branching**

In [2]:
# Condition Equal

a = 5   #Asignar a variable a un valor de 5
a == 6  #verificar si a es igual a 6

False

In [5]:
# Greater than Sign

i = 6   #Asignar a variable i un valor de 6
i > 5   #verificar si i es mayor que 6

True

In [7]:
# Greater than Sign

i = 2   #Asignar a variable i un valor de 2
i > 5   #verificar si i es mayor que 5

False

In [8]:
# Inequality Sign

i = 2
i != 6    #verificar si i es diferente a 6

True

In [9]:
# Inequality Sign

i = 6
i != 6     #verificar si i es diferente a 6

False

In [10]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [11]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [13]:
# Compare characters
#Note: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Python is case-sensitive.

'B' > 'A'   #Al comparar B con A, Python usa los valores ASCII de cada letra. B tiene un valor mayor (66) al de A (65)

True

In [17]:
# If statement example

age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

move on

In [15]:
# Else statement example

age = 18

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [16]:
# Else statement example

age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

you can enter
move on

In [20]:
# Elif statment example

age = 16

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [21]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [25]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [24]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [29]:
# Condition statement example

album_year = 1979

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Do Stuff..

In [33]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [34]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [44]:
Rating = 8.5
if Rating >8:
  print('This album is Amazing!')
else:
  print('The raiting is 8 or less')

This album is Amazing!

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [66]:
Year = 1993
if Year == 1991 or Year == 1993:
  print('This album came out in',Year)
elif Year == 1980:
  print('This album came out in 1980')
else:
  print("")

This album came out in 1993

In [79]:
#Solución alternativa usando una lista de integers para los años

Year = 1980
if Year in [1991, 1993, 1980]:
  print('This album came out in',Year)  
else:
  print('')

This album came out in 1980

## **Loops**

In [80]:
range(10)

range(0, 10)

In [81]:
print(range(3))

range(0, 3)

In [83]:
# For loop example

dates = [1982,1980,1973]  # partimos de una lista
N = len(dates)            # longitud de la lista (3)

for i in range(N):        #range(N) = [0,1,2] donde cada valor es i
    print(dates[i])

1982
1980
1973

In [86]:
# For loop example - Alternate solution

dates = [1982,1980,1973]  # partimos de una lista
#N = len(dates)            # longitud de la lista (3) - la omitimos

for year in dates:        
    print(year)

1982
1980
1973

In [87]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [89]:
# Example of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

In [90]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [180]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares): # i, square es cada Tuple que genera enumerate(squares) 
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [100]:
result = list(enumerate(squares))

In [111]:
result    # arroja la lista de Tuplas resultante de la lista "squares" con sus índices

[(0, 'red'), (1, 'yellow'), (2, 'green'), (3, 'purple'), (4, 'blue')]

In [112]:
list_1 = 'Python'
list(enumerate(list_1))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [119]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [120]:
for i in range(-5,5):
  print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [121]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

In [123]:
for i in Genres:
  print(i)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [124]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

In [125]:
for i in squares:
  print(i)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [173]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 7, 10, 10]

In [184]:
i = 0       # empezamos con un contador en 0
rating = [] # creamos una lista en blanco

while i < len(PlayListRatings) and PlayListRatings[i] > 6:  # Establecer las condiciones para ejecutar el bucle While: 1) Mientras que la longitud de la lista sea mayor al contador y 2) Mientras que la evaluación sea superior a 6   
  rating.append(PlayListRatings[i])           # Cuando estas condiciones se cumplen, se agrega el rating a la nueva lista
  i = i + 1     # se agrega 1 al contador para analizar el siguiente índice
print(rating)

print("It took ", i ,"repetitions to get out of loop.")
print('the list length is', len(PlayListRatings))

[10, 9.5, 10, 8, 7.5]
It took  5 repetitions to get out of loop.
the list length is 8

In [183]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    #i = i + 1 #Try uncommenting the line and comment the previous i = i + 1, and see the difference, 10 value will get printed twice because when the loop starts it will print Rating and then with PlayListRatings[0], it will again assign the value 10 to Ratings.

10
9.5
10
8
7.5

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [15]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']

In [17]:
i = 0   # empezamos con un contador en 0
new_squares = []    # creamos una lista en blanco
while i < len(squares) and squares[i] == 'orange':        # Establecer las condiciones para ejecutar el bucle While: 1) Mientras que la longitud de la lista sea mayor al contador y 2) Mientras que la evaluación sea superior a 6   
  new_squares.append(squares[i])                           # Cuando estas condiciones se cumplen, se agrega el rating a la nueva lista
  i += 1                                                   # se agrega 1 al contador para analizar el siguiente índice
print(new_squares)

['orange', 'orange']

## **Functions**

In [18]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [19]:
add(2)

2 if you add one 3

3

In [20]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [21]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [23]:
Mult(2,7)

14

In [24]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [25]:
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [26]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [27]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [30]:
y

10

In [29]:
x

3

In [31]:
y = square(x)

3 if you square + 1 10

In [32]:
square(5)

5 if you square + 1 26

26

In [33]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [36]:
MJ()

Michael Jackson

In [37]:
MJ1()

Michael Jackson

In [38]:
# See what functions returns are
#Printing the function after a call reveals a None is the default return statement:

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [39]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [40]:
# Test on the con() function

con("This ", "is")

'This is'

# Block 1

In [41]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

# Block 2

In [42]:
 # a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [44]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [46]:
Equation(5,-100)

0

# Funciones predefinidas en Python

In [47]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [48]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [49]:
# Show the length of the list or tuple

len(album_ratings)

8

In [50]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

# Uso de declaraciones If/Else y Bucles (Ciclos) en Funciones

In [51]:
type_of_album("Michael Jackson", "Thriller", 1980)

Michael Jackson Thriller 1980

'Oldie'

In [52]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [53]:
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

# Uso de argumentos preestablecidos en funciones personalizadas

In [54]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [59]:
isGoodRating()    # si no se especifica la variable "rating", el valor pre-determinado será 4

this album sucks it's rating is 4

# Variables globales

In [60]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Michael Jackson is an artist

In [63]:
printer1('Otro')    # Si se especifica otro valor para la variable 'artista', la función lo reconoce

Otro is an artist

In [67]:
printer1(internal_var1) #internal_var1 se ha creado como una variable local en la función y no puede sustituír a la variable global

NameError: ignored

In [68]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var   #Variable global creada dentro de la función, reemplazará a la variable global inicial si se utiliza como argumento
    
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

# Alcance de una variable

In [10]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [2]:
myFavouriteBand

'AC/DC'

In [6]:
getBandRating('AC/DC')

10.0

In [4]:
help(getBandRating)

Help on function getBandRating in module __main__:

getBandRating(bandname)

In [7]:
bandname = 'otro'

In [9]:
getBandRating('banda')

0.0

In [20]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)    # Afuera de la función getBandRating, la variable global myFavouriteBand ha sido borrada

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: ignored

In [14]:
myFavouriteBand

NameError: ignored

In [19]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

# Collecciones y Funciones

In [26]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)

In [27]:
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')

No of arguments: 3
Horsefeather
Adonis
Bone

In [28]:
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [37]:
def printDictionary(**args):      # Los argumentos se pueden expresar como un diccionario usando **args
    for key in args:
        print(key + " : " + args[key])

In [41]:
printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

Ejemplo de función que agrega objetos a una lista dada como variable local:

In [103]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [118]:
myList = ['hey','you'] # Para modificar la variable local myList

In [121]:
addItems(myList) # Corremos la función addItems nuevamente con la variable local modificada myList

In [123]:
myList  # para mostrar la lista myList modificada por la función addItems

['hey', 'you', 'Three', 'Four', 'Three', 'Four']

# Quiz on Functions

**1) Come up with a function that divides the first input by the second input:**

In [108]:
def division(a,b):
  c = a / b
  return c

In [109]:
division(3,10)

0.3

**Use the function "con" for the following question.**

In [110]:
def con(a, b):
    return(a + b)

**2) Can the con function we defined before be used to add two integers or strings?**

In [111]:
con(2,6)

8

In [112]:
con('one','two')

'onetwo'

Answer: Yes, as shown above

**3) Can the con function we defined before be used to concatenate lists or tuples?**

In [114]:
con(['one',2],[3,4])

['one', 2, 3, 4]

In [116]:
con((1,2),(3,4))

(1, 2, 3, 4)

Answer: Yes. We need two lists or two tuples