<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Emmanuel-Dominguez-A01793683/blob/main/IBM_Python_Course_M%C3%B3dulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading Files in Python

In [1]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [2]:
# Print the path of file

file1.name

'Example1.txt'

In [3]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [4]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [5]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [6]:
# Type of file content

type(FileContent)

str

In [7]:
# Close file after finish

file1.close()

In [8]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [9]:
# Verify if the file is closed

file1.closed

True

In [10]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [11]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [12]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [13]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [14]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [15]:
#readline() sólo lee una línea a la vez, sin importar cuántos caracteres se especifique.
#read() lee todas las líneas ó diferentes líneas si los caracteres abarcan más de una

with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [16]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read()) # lee el resto de las líneas

This is line 1

This is line 2
This is line 3

In [17]:
with open(example1, "r") as file1:
    print(file1.read()) # lee todas las líneas

This is line 1
This is line 2
This is line 3

In [18]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [19]:
file1.closed

True

In [20]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [21]:
# Print the full line

FileasList

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [22]:
FileasList[0]

'This is line 1 \n'

In [23]:
FileasList[1]

'This is line 2\n'

In [24]:
FileasList[2]

'This is line 3'

# Write and Save Files in Python

In [25]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [26]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [27]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [28]:
with open(exmp2, 'r') as testwritefile:
  print(testwritefile.read())

This is line A
This is line B

In [29]:
#Vamos a escribir una lista en un archivo .txt 
#Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [30]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [31]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [32]:
# Al cambiar el modo a 'w' vamos a sobreescribir todo lo que teníamos en el mismo archivo Example2.txt 

with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

# Appending Files

In [33]:
# Vamos a agregar texto en un archivo manteniendo el texto original
# El modo será 'a'
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [34]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

# Additional modes

In [35]:
# El modo 'a' crea un nuevo file si no existe previamente uno con el mismo nombre
#La función print() no nos muestra nada porque el modo 'a' nos coloca en la parte final del file.

with open('Example.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [36]:
with open('Example.txt', 'r') as testwritefile:
  print(testwritefile.read())

This is line E

Es conveniente usar las siguientes funciones para saber en qué parte del file estamos:

.tell() - returns the current position in bytes

.seek(offset,from) - changes the position by 'offset' bytes with respect to 'from'. 

From can take the value of 0,1,2 corresponding to beginning, relative to current position and end

In [37]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 55
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E

Location after read: 55

In [38]:
# El modo 'r+' nos permite usar el metodo 'write' para escribir

with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    testwritefile.truncate() #el método 'truncate' elimina todo después de lo que acabamos de escribir 
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# Copiar un archivo

In [39]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [40]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

# Ejercicio

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [8]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [9]:
from os import strerror
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''

def cleanFiles(currentMem, exMem):
  
  currentMem_list = []
  exMem_list = []

  with open('members.txt', 'r+') as currentMem:
    with open('inactive.txt', 'a+') as exMem:
      currentMem.seek(0)    # Vamos al inicio del archivo 'currentMem'
      currentMem_list = currentMem.readlines()    #Generamos una nueva lista de miembros actuales
      header = currentMem_list[0]     # Removemos el header
      currentMem_list.pop(0)          # Removemos el header de la nueva lista 
      
      for member in currentMem_list:  # iteramos para buscar los miembros inactivos 
        if 'no' in member:
          exMem_list.append(member)   # generamos una lista de miembros inactivos
      
      currentMem.seek(0)     # Vamos al inicio del archivo 'currentMem'  
      currentMem.write(header)  #Escribimos el header nuevamente  
      for member in currentMem_list:  # iteramos para sacar a los miembros inactivos de currentMem_list
          if member in exMem_list:    
              exMem.write(member)     #enviamos a los miembros inactivos al archivo exMem
          else:
              currentMem.write(member)  # enviamos a los miembros activos a la lista CurrentMem (sobreescribimos)    
      currentMem.truncate()             #borramos todo lo que siga de la nueva lista depurada de miembros activos 


    # TODO: Open the currentMem file as in r+ mode
        #TODO: Open the exMem file in a+ mode

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

        
# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    73958      2015-1-10    yes
    49669      2017-1-24    yes
    93889      2019-7-1     no
    10618      2017-6-14    no
    42023      2018-7-12    yes
    50255      2017-7-22    no
    89353      2018-6-1     no
    22557      2015-6-12    no
    99549      2018-6-10    yes
    32924      2018-7-2     yes
    59913      2015-6-17    no
    24289      2020-5-10    no
    64743      2015-2-18    no
    88231      2020-2-22    yes
    53637      2020-12-21   no
    30585      2020-7-17    no
    91273      2018-2-22    no
    81318      2020-1-1     no
    52381      2017-6-21    yes
    48250      2020-1-13    no

Inactive Members:


Membership No  Date Joined  Active
    19875      2019-1-15    no
    15071      2015-9-14    no
    45490      2019-7-19    no

In [7]:
# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    61456      2019-4-5     yes
    28296      2015-4-4     yes
    29245      2016-2-23    yes
    29461      2015-3-9     yes
    15990      2015-3-21    yes
    81376      2016-8-25    yes
    43807      2015-1-24    yes
    18254      2015-5-24    yes
    99185      2020-3-7     yes

Inactive Members:


Membership No  Date Joined  Active
    35751      2018-10-2    no
    62247      2020-4-24    no
    65107      2015-10-9    no
    14746      2017-1-22    no
    88225      2016-12-24   no
    76099      2017-8-10    no
    98692      2020-7-1     no
    86174      2019-5-6     no
    36384      2018-5-9     no
    62724      2015-8-5     no
    45603      2016-9-4     no
    69100      2020-12-19   no
    50612      2017-2-5     no
    48894      2017-11-13   no

# Pandas - Array

In [44]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1. Show the first 3 rows of the dataframe:

In [45]:
df.head()

    a   b
0  11  21
1  21  22
2  31  23

2.  Show the values for 'b'

In [46]:
df['b']

0    21
1    22
2    23
Name: b, dtype: int64

In [47]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

Find the unique values in column 'a'

In [48]:
df['a'].unique()

array([1, 2])

2.  Return a dataframe with only the rows where column 'a' is less than two:

In [49]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

Introduction to Pandas in Python

In [15]:
# Print first five rows of the dataframe
import pandas as pd

df = pd.read_csv("TopSellingAlbums.csv")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,1-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [16]:
# Access to the column Length

x = df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

# Viewing Data and Accessing Data

In [17]:
# Get the column as a series

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [18]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [19]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [20]:
type(y)

pandas.core.frame.DataFrame

In [21]:
df['Length']

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [22]:
df['Genre']

0                 pop, rock, R&B
1                      hard rock
2               progressive rock
3                 R&B, soul, pop
4    hard rock, progressive rock
5     rock, soft rock, folk rock
6                          disco
7                      soft rock
Name: Genre, dtype: object

In [23]:
df['Artist']

0    Michael Jackson
1              AC/DC
2         Pink Floyd
3    Whitney Houston
4          Meat Loaf
5             Eagles
6           Bee Gees
7      Fleetwood Mac
Name: Artist, dtype: object

In [24]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [25]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [26]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [27]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

In [28]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [29]:
# Access the column using the name

df.loc[1, 'Genre']

'hard rock'

In [30]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [31]:
# Access the column using the name

df.loc[1, 'Released']

1980

In [32]:
# Slicing the dataframe

df.iloc[0:4, 0:2]

            Artist                      Album
0  Michael Jackson                   Thriller
1            AC/DC              Back in Black
2       Pink Floyd  The Dark Side of the Moon
3  Whitney Houston              The Bodyguard

In [33]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

# Quiz on dataframe
Use a variable q to store the column Rating as a dataframe

In [34]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assign the variable q to the dataframe that is made up of the column Released and Artist:

In [35]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of df:

In [36]:
df.iloc[1,2]

1980

Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column 'Artist'. Then select the rows a through d for the column 'Artist'

In [37]:
new_index=['a','b','c','d','e','f','g','h']

In [38]:
df_new = {'a': df.iloc[2,0], 'b': df.iloc[1,0]}

In [39]:
df_new=df   # Asignamos a la variable df_new el dataframe actual
df_new.index=new_index    #Asignamos a df_new la lista 'new_index' como la nueva lista de índices 
df_new.index              #revisamos que los índices estén correctos

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

In [40]:
df_new.loc['a':'d', 'Artist']     # Desplegamos el dataframe de índices 'a' a 'd'

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

# Practice Lab: Selecting data in a Dataframe

In [42]:
# let us import the Pandas Library
import pandas as pd

In this practice lab, we will learn how to create a DataFrame out of a dictionary.

In [43]:
#Define a dictionary 'x'

x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [44]:
#Retrieving the "ID" column and assigning it to a variable x
x = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [45]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [46]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

Problem 1: Create a dataframe to display the result as below:

![Student_data.png](attachment:2887fa01-bbf3-44e8-a6ca-4c8299ab3ff9.png)<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/Student_data.png" width="300" alt="Student Data"  />
</center>

In [47]:
a = {'Student':['David', 'Samuel', 'Terry', 'Evan'],
     'Age':['27', '24', '22', '32'],
     'Country':['UK', 'Canada', 'China', 'USA'],
     'Course':['Python','Data Structures','Machine Learning','Web Development'],
     'Marks':['85','72','89','76']}
df1 = pd.DataFrame(a)     # convertimos el diccionario en un dataframe y lo asignamos a 'df1'
df1

  Student Age Country            Course Marks
0   David  27      UK            Python    85
1  Samuel  24  Canada   Data Structures    72
2   Terry  22   China  Machine Learning    89
3    Evan  32     USA   Web Development    76

Problem 2: Retrieve the Marks column and assign it to a variable b

In [50]:
b = df1[['Marks']]

In [51]:
b

  Marks
0    85
1    72
2    89
3    76

Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [52]:
b = df1[['Country', 'Course']]

In [53]:
b

  Country            Course
0      UK            Python
1  Canada   Data Structures
2   China  Machine Learning
3     USA   Web Development

In [55]:
# Get the Name column as a series Object

x = df['Name']    # x muestra una serie porque se usó sólo un par de brackets
x                 #la serie se muestra como un arreglo uni-dimensional con sus índices

0    Rose
1    John
2    Jane
3    Mary
Name: Name, dtype: object

# Exercise 2: loc() and iloc() functions
loc() is a label-based data selecting method which means that we have to pass the name of the row or column that we want to select. This method includes the last element of the range passed in it.

Simple syntax for your understanding:

**loc[row_label, column_label]**

iloc() is an indexed-based selecting method which means that we have to pass integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it.

Simple syntax for your understanding:

**iloc[row_index, column_index]**

Let us see some examples on the same.

In [56]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Rose'

In [57]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Architect Group'

In [58]:
# Access the column using the name

df.loc[0, 'Salary']

100000

Let us create a new dataframe called 'df1' and assign 'df' to it. Now, let us set the "Name" column as an index column using the method set_index().

In [60]:
df2=df      
df2=df2.set_index("Name")

In [61]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [62]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [63]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

Use the loc() function,to get the Department of Jane in the newly created dataframe df2

In [64]:
df2.loc['Jane', 'Department']

'Design Team'

Use the iloc() function,to get the Salary of Mary in the newly created dataframe df2.

In [65]:
df2.iloc[3,2]

60000

# Exercise 3: Slicing
Slicing uses the [] operator to select a set of rows and/or columns from a DataFrame.

To slice out a set of rows, you use this syntax: data[start:stop],

here the start represents the index from where to consider, and stop represents the index one step BEYOND the row you want to select. You can perform slicing using both the index and the name of the column.

NOTE: When slicing in pandas, the start bound is included in the output.

So if you want to select rows 0, 1, and 2 your code would look like this: df.iloc[0:3].

It means you are telling Python to start at index 0 and select rows 0, 1, 2 up to but not including 3.

NOTE: Labels must be found in the DataFrame or you will get a KeyError.

Indexing by labels(i.e. using loc()) differs from indexing by integers (i.e. using iloc()). With loc(), both the start bound and the stop bound are inclusive. When using loc(), integers can be used, but the integers refer to the index label and not the position.

For example, using loc() and select 1:4 will get a different result than using iloc() to select rows 1:4.

We can also select a specific data value using a row and column location within the DataFrame and iloc indexing. ¶

In [66]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [67]:
#let us do the slicing using loc() function on old dataframe df where index column is having labels as 0,1,2
df.loc[0:2,'ID':'Department']

   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team

In [68]:
#let us do the slicing using loc() function on new dataframe df1 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

using loc() function, do slicing on old dataframe df to retrieve the Name, ID and department of index column having labels as 2,3

In [69]:
df.loc[2:3,'Name':'Department']

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure